/* Archivo compartido por todos los .html que tengan el header */

:root { /* Esto es como hacer referencia al elemento <html>*/
	--header-height: 10%; /* Variable de CSS. Se accede usando var(--nombre-variable) */
	scroll-behavior: smooth; /* Esto añade una especie de transición */
}

main { /* Para cuando entras a la web como tal */
	margin: 2% 0%; /* Igual que estaba en el resto de archivos .css */
	padding-top: var(--header-height); /* Para modificar el valor 'top' */
}

section#proximos-torneos,
section#información,
section#inscripción {
	padding-top: var(--header-height);
	/* Si usas 'margin', pese a que el elemento se mueve, el resultado es el mismo */
	/* 'padding' mueve el elemento, sin modificar su posición */
}