/* Estilos generales*/
body {
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    color: #333;
    background-color: #eef2f3;
}
main {
    padding: 2% 5%;
    padding-top: 12%;
}




/* Header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 150;
}
header img{
    z-index: 150;
    height: 5%;
    width: 5%;
}
header img:hover{
    cursor: pointer;
}





/* MENU*/
.menu li {
    display: inline-block;
    margin: 0px 1em;
}

/* Estilo para el ícono de hamburguesa */
.hamburger {
    z-index: 150;
    display: none;
    width: 38px;
    height: 27px;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

/* Barras del menú (estado inicial) */
.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.6s ease, opacity 0.3s ease;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + .hamburger .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
    background-color: red;
}

input[type="checkbox"]:checked + .hamburger .bar:nth-child(2) {
    opacity: 0;
}

input[type="checkbox"]:checked + .hamburger .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
    background-color: red;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
  text-decoration: none;
  color: rgb(224, 225, 133);
}



/* Información */
.h1info{
    background-color: white;
    border-radius: 5%;
    padding: 1% 5%;
    margin-top: 5%;
    height: 10%;
    width: 50%;
}
.información {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.info-item {
    width: 100%;
    padding: 10px;
}

.prev-button,
.next-button {
    position: relative;
    color: black;
    background: transparent;
    height: 100%;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.prev-button {
    left: 0px;
}

.next-button {
    right: 0px;
}






/* Torneos */
.torneos{
    background-color: white;
    border-radius: 5%;
    padding: 1% 5%;
    margin-top: 5%;
}
.description{
    display: flex;
}
.description ul{
    flex-direction: column;
    margin: 15% 0 0 5%;
}
.torneos img{
    height: 700px;
    width: 500px;
}
/* Estilos para la imagen modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-contenido {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.cerrar {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.cerrar:hover,
.cerrar:focus {
    color: #f44336;
}




/* FORMULARIO */
/* Container*/
.inscripción {
    background-color: white;
    border-radius: 5%;
    padding: 1% 5%;
    margin-top: 5%;
    text-align: center;
}

/* Parte común*/
.comun-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}
select {
    width: 300px;
    text-align: center;
    padding: 3px 0 3px 0;
    border: 2px solid #2a88c7;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s;
}
select:hover {
    border-color: #2980b9;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}


/* First player */
.players{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}
.first_player, .second_player{
    position: relative;
    padding: 3%;
    margin: 5%;
    text-align: center;
    background-color: #eef2f3;
    border-radius: 5%;
}
.first_player img, .second_player img {
    width: 10%;
}
/* Estilo para el elemento <label> */
label {
    font-weight: bold;
}

/* Estilo para el elemento <input> */
input, textarea{
    background-color: transparent;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
input:focus, textarea:focus {
    border-bottom: 3px solid #2a88c7;
    outline: none; 
}

/* Estilo para el formulario de contacto */
.form-contact{
    background-color: white;
    border-radius: 5%;
    padding: 5%;
}


button[type="submit"] {
    background-color: #2a88c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}








/* Flecha para subir al inicio */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
}
  
#scroll-to-top a {
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    text-decoration: none;
}
  
#scroll-to-top a:hover {
    background-color: #0056b3;
}


/* Pie de página */
footer {
    text-align: center;
    font-size: 12px;
}








/* Telefono */

@media screen and (max-width: 800px) {

    body {
        font-size: 16px;
    }
    /* Header */
    header img{
        height: 10%;
        width: 10%;
    }

    /* Estilos para el menú desplegable */
    .hamburger{
        display: block;
    }
    .menu-container {
        position: relative;
    }  
    .menu {
        position: fixed;
        left: 0;
        top: -200%;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        list-style: none;
        padding: 0;
        margin: 0;
        transition: top 0.5s ease-in-out;
        z-index: 100;
        overflow-y: auto;
    }
    .menu li {
        display: block;
    }
    .menu.show {
        position: fixed;
        top: 5.5%;
        background-color: rgb(0, 0, 0, 0.9);
    }
    .menu li{
        font-family: "Circular", sans-serif;
        font-size: 30px;
        padding: 25px;
        font-weight: 500;
    }

    /* Torneos */
    .torneos, .inscripción{
        border-radius: 1%;
    }
    .description{
        flex-direction: column;
    }
    .description ul{
        margin: 4% 0 0 0;
    }
    .torneos img{
        height: 400px;
        width: 300px;
    }
    /* Formulario*/
    select {
        width: 150px;
    }
    .players{
        display: block;
    }
    /* Información */
    .h1info{
        width: 90%;
        border-radius: 2%;
    }
    
    /* footer */
    footer{
        font-size: 8px;
    }
}