/* Estilos generales */
body {
    overflow-x: hidden;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}
section *:not(h2) {
    margin-left: 0;
}

header {
    overflow-x: hidden;
    position: relative;
    background-color: black;
    text-align: center;
}

/*Imagen poster*/
.post-img {
    width: 500px;
    height: 700px;
}
/*Imagen ampliada*/
/* Estilos para el contenedor de la imagen modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  /* Estilos para el contenido de la imagen modal */
  .modal-contenido {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }
  
  /* Estilos para el botón de cerrar en la imagen modal */
  .cerrar {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: #f44336;
  }
  
  /* Estilos para el enlace que muestra la imagen modal */
  .post-img {
    cursor: pointer;
  }


b {
    font-size: 16px;
}
b a {
    color: rgb(59, 59, 196);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 2% 5%;
}

section {
    margin-bottom: 3%;
}


/* Estilos para el botón */
.btn, button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover, button:hover {
    background-color: #0056b3;
}

/* Estilos para la tabla de resultados */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 2%;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para el formulario de inscripción */
form {
    max-width: 90%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 90%;
    left: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.first_player{
    position: relative;
    top: 0%;
    left: 0%;
}

.second_player{
    position: relative;
    top: 0%;
    left: 0%;
}


/* Estilos para las tres rayas (hamburguesa) */
.hamburger {
    position: absolute;
    top: 10%;
    right: 3%;
    display: block;
    width: 38px;
    height: 27px;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .hamburger::before {
    top: 0;
  }
  
  .hamburger::after {
    bottom: 0;
  }
  
  
  /* Estilos para el contenedor del menú */
  .menu-container {
    position: relative;
  }
  
  /* Estilos para el menú desplegable */
  .menu {
    position: fixed;
    left: 0;
    top: -300%; /* Inicialmente, el menú estará oculto fuera del lateral izquierdo */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    padding: 0;
    margin: 0;
    transition: top 0.6s ease-in-out;
    z-index: 100;
  }
  
  /* Estilos para mostrar el menú */
  .menu.show {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
  }

  .menu li{
    font-style: italic;
    font-size: 18px;
    padding: 30px;
  }
  .menu p{
    font-size: 18px;
  }
  

/*Flecha para subir al inicio*/
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
  }
  
  #scroll-to-top a {
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    text-decoration: none;
  }
  
  #scroll-to-top a:hover {
    background-color: #0056b3;
  }


/* Pie de página */
.footer {
    text-align: center;
    font-size: 12px;
    color: #050404;
}

/* Media Queries para hacer la página responsive */
@media screen and (max-width: 768px) {
    .menu li{
        font-style: italic;
        font-size: 16px;
        padding: 25px;
      }
    .menu p{
        font-size: 16px;
      }
    form {
        padding: 10px;
        overflow-x: hidden;
    }
    .post-img{
        height: 400px;
        width: 300px;
    }
    .modal-contenido {
        max-width: 100%;
        max-height: 100%;
      }

      #scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 10px;
        display: none;
        z-index: 99;
      }
      
      #scroll-to-top a {
        background-color: #007bff;
        color: #fff;
        font-size: 15px;
        padding: 8px;
        border-radius: 100%;
        text-decoration: none;
      }

    .footer{
        font-size: 8pxd;
    }
}
